.input{
  text-align:centre;
  padding:5%;
}
.file{
  width:30%;
}

#submit_BU{
  display:none;
}

#generate_calender{
  display:none;
}

.Empty{
  font-weight:bold;
  background-color:rgb(128, 22, 15);
  color:white;
  text-align:center;
  width:20%;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
.Error{
  background-color:rgb(160, 14, 4);
  border: 1px red solid;
  color:white;
  padding:2px;
  width:auto;
  margin-top:2px;
  vertical-align:middle;
  border-radius:5px;
}
#upload_config_status{
  display:block;
}
.inline_block{
  display:inline-block;
}
.upload_config{
  vertical-align:middle;
  width:45%;
  display:inline-block;
}
.config_input{
  position:relative;
}
.select_config{
  position:relative;
  vertical-align:middle;
  margin-top:2px;
  margin-left:5px;
 width:45%;
  display:inline-block;
}

.rankpool_separator{
  width:10%;
  display:none;
}

.config_form{
  margin-top:5px;
}

.Configs, .calender_input{
  vertical-align:top;
  display:inline-block;
}
.chairmancircle_IFRAME, .calender_IFRAME{
  display:inline-block;
}
.chairmancircle_IFRAME iframe{
  height:550px;
  width:420px;
}

.calender_input{
  text-align:left;
  width: auto;
}

.calender_IFRAME iframe{
  height:350px;
  width:420px;
}

.calender_IFRAME{
  text-align:center;
}

.copy_button{
margin-left:30%;
}
.configurator{
  margin:20px;
}
.calender_widget{
  text-align:center;
}

#copy_button_1{
  margin-left:10%;
}

#calender_input{
  margin-top:-5px;
}