{% extends "layout.html" %}

{% block Content %}

    {% with messages=get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages  %}
                        <div class="badge bg-danger text-wrap">{{msg}}</div>
                    {% endfor %}
                {% endif %}
    {% endwith %}

    <div class="configurator">
        <div class="Configs">
            <div class="form-group goback_downloadconfig">
                <a href="{{url_for('home')}}">
                    <div class="btn btn-success">
                        <svg width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                        </svg> Go Back
                    </div>
                </a>
                <a href="{{url_for('configuration_document')}}" download>
                    <button type="button" class="btn btn-warning" onclick="refresh_icon()">
                        Download Config
                    </button>
                </a>
                <a href="{{url_for('config')}}">
                    <button type="button" class="btn btn-primary" onclick="refresh_config();">
                        <svg width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>
                        Refresh Config
                    </button>
                </a>
            </div>
            <div class="form-group config_form">
                <form method="POST" action="/configurator" enctype="multipart/form-data">
                    <div class="config_input form-group">
                        <div class="upload_config form-control">
                            {{form.Upload_Config.label(class="form-label")}} 
                            {{form.Upload_Config(class="form-control", onchange="submit_visible()")}}
                            {{form.submit_BU(class="btn btn-primary btn-sm mt-1", onclick="switch_off_visiblity()")}}
                            <div class="upload_config_status" id="upload_config_status">
                                <div class="border border-danger rounded text-light bg-secondary mt-1"><b>Status:</b>
                                {% for stat in status %}
                                    <div class="">{{stat}}</div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="select_config form-control">
                            <div class="select_BU_label">Select BU <br> {{form.select_BU(onchange="this.form.submit()")}} </div>
                                    <noscript>{{form.submit_BU}}</noscript>
                            <div class="select_BU_TEAM_LEVEL_label">Select BU_TEAM_LEVEL <br> {{form.select_BU_TEAM_LEVEL(onchange="this.form.submit();")}}</div>
                        </div>
                    </div>
                    <div class="Rank_Pool form-control mt-2">
                        <h3>Rank Pools</h3>
                        <table class="table form-control">
                            <h5 class="bg-light text-dark">Leaderboard</h5>
                            <thead class="thead-light">
                                <tr>
                                  <th scope="col">Rank Pool</th>
                                  <th scope="col">Visibility</th>
                                  <th scope="col">Pseudoname</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rankpool in leaderboard_rankpool %}
                                <tr>
                                  <td>{{rankpool['RANK_POOL']}}</td>
                                  <td><input class="checkbox" onchange="rankpool_visibility_checkbox(this.id, this.checked);" type="checkbox" name="rankpoolvisibilityflag" id="{{rankpool['Id']}}" {% if rankpool['RANK_POOL_VISIBILITY_FLAG']==1 %}checked{% endif %}/></td>
                                  <td><input class="text form-control" onchange="rankpool_pseudo_name(this.id, this.value);" type="text" name="rankpool_pseudoname" id="{{rankpool['Id']}}" value="{{rankpool['RANK_POOL_PSEUDONAME']}}"/></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table form-control">
                            <h5 class="bg-light text-dark">InTheMoment</h5>
                            <thead class="thead-light">
                                <tr>
                                  <th scope="col">Rank Pool</th>
                                  <th scope="col">Visibility</th>
                                  <th scope="col">Pseudoname</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rankpool in inthemoment_rankpool %}
                                <tr>
                                  <td>{{rankpool['RANK_POOL']}}</td>
                                  <td><input class="checkbox" onchange="rankpool_visibility_checkbox(this.id, this.checked);" type="checkbox" name="rankpoolvisibilityflag" id="{{rankpool['Id']}}" {% if rankpool['RANK_POOL_VISIBILITY_FLAG']==1 %}checked{% endif %}/></td>
                                  <td><input class="text form-control" onchange="rankpool_pseudo_name(this.id, this.value);" type="text" name="rankpool_pseudoname" id="{{rankpool['Id']}}" value="{{rankpool['RANK_POOL_PSEUDONAME']}}"/></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class="Submit_Rankpool btn btn-secondary btn-sm">Confirm</button>
                    </div>
                </form>
            </div>
            <div class="set_leaderboard_parametres form-control mt-1">
                <h3>Leaderboard Constants</h3>
                <label>Heading</label>
                <input class="Heading form-control" onchange="leaderboard_parameter('Heading', this.value);" type="text" name="Heading" id="Heading" value="{{Heading}}"/>
                <label class="mt-1">Heading Image Link</label>
                <input class="Heading_Link form-control" onchange="leaderboard_parameter('Heading_Link', this.value);" type="text" name="Heading_Link" id="Heading_Link" value="{{Heading_Link}}"/>
                <label class="mt-1"><u>Navigate to</u> Link</label>
                <input class="Heading_Link form-control" onchange="leaderboard_parameter('Navigate_Link', this.value);" type="text" name="Navigate_Link" id="Navigate_Link" value="{{Navigate_Link}}"/>
                <label class="mt-1"><u>Navigate to</u> Text</label>
                <input class="Heading_Link form-control" onchange="leaderboard_parameter('Navigate_Text', this.value);" type="text" name="Navigate_Text" id="Navigate_Text" value="{{Navigate_Text}}"/>
                <button class="Leaderboard_Constants btn btn-primary btn-sm mt-1">Confirm</button>
            </div>
        </div>
        <div class="chairmancircle_IFRAME">
            <iframe id="chairman_circle" src="/leaderboard_generation" scrolling="no" onmouseover="iframe_scroll('auto')" onmouseout="iframe_scroll('no')" title="Chairman's Circle"></iframe> 
            <button class="copy_button btn btn-dark mt-1" id="copy_button" onclick="getIframeContent(); copy_button()" onmouseout="copy_button_reverse();">
                Copy HTML
            </button>
        </div>
    </div>
{% endblock %}