<!DOCTYPE html>
<html>
<head>   
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1"> 
     
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> 
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
     
     <title>Leaderboard</title>
</head>
<body>   
    <nav class="navbar navbar-dark bg-dark" style="position:sticky; top:0; z-index: 999;">
        <a class="nav-link" href="/input">Chairman's Circle Generator</a> |
        <a class="nav-link" href="/calender_input">Calender Generator</a> |
    </nav>

    <div class="configuration">
        {% block Content %}
        {% endblock %}
    </div> 
   
    <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>
